*{
    margin: 4px;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #FDFAF6;
    min-height: 100vh;
    display: block;
}
main{

}
h1{
    color:#99BC85 ;
}
p{
    color: 034C53;
}
form{
    display: flex;
    margin-bottom: 20px;
}
input[type="text"]{
    flex: 1;
    padding: 10px ;
    border:1px solid #99BC85;
    margin-right: 4px;
}
button{
    padding: 10px 15px;
    background-color: #99BC85;
    color: #FDFAF6;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #C1CFA1;
    color: white;
}
#tasks-list {
    margin-top: 20px;
}
#tasks-list {
    margin-top: 20px;
    display: flex; 
    flex-direction: column; 
}

#tasks-list > div {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    background-color: #deebca;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px; 
    transition: background-color 0.3s; 
    width: 100%; 
    box-sizing: border-box;
}
#tasks-list> div:hover{
    background-color: #C1CFA1;
}